<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Cyber Star Rallyについて</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	<script src="http://maps.google.co.jp/maps?file=api&amp;v=2&amp;key=ABQIAAAANmKytc5ypjH_KbDCAjAbphT7fUKXf8Z2EQDBAwKo7cqaz_1bIBQTee5Ys0p-dOtvcUsNcMMumFXEaQ" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
//<![CDATA[
//]]>
</script>
	<style type="text/css">
    v\:* { behavior:url(#default#VML);}
    body{color:white;background-color:black}
	</style>
</head>
<body>
  <h1>Cyber Star Rallyについて</h1>
  <img src="/images/logos.png" width="50%" height="50%"/>
  <div>From 18:00 on August 30 to 18:00 on August 31</div>
  <br/>
  <div>お問い合わせは<a href="mailto:akio0911@gmail.com">akio0911@gmail.com</a>までお気軽にどうぞ。</div>
  <br/>
  <h2>概要．電脳メガネは実現できる！</h2>
  <div>・電脳コイルに刺激されるARの世界。</div>
  <div>・GPS位置情報連動コンテンツ。</div>
  <div>・TwitterなどのAPIを活用したユーザー参加型コンテンツ。</div>
  <div>我々の力だけでも、これらを組み合わせて面白い物が作れるのでは？</div>
  <h2>詳細１．電脳☆スターラリー</h2>
  <div>リアル空間でココだと思う場所で、みんなが付けた☆を電脳メガネを装着して、自転車で集めに行きます！</div>
  <h2>詳細２．☆を獲得</h2>
  <div>DB上で緯度経度にマッピングされた☆は、各種センサ情報を元に、カメラで撮影する映像にリアルタイムに合成。実際に☆に近づいていく様子がわかります。半径50m以内に入ると、☆を獲得することとします。
  </div>
  <h2>詳細３．24時間でいくつ取れるか？</h2>
  <div>今回のチャレンジでは、神南24時間TVの時間の間</div>
  <div>（2008/8/30 18:00～2008/08/31 18:00）</div>
  <div>みんなの☆を何個集められるか？</div>
  <h2>システム紹介１．AddStarApplication</h2>
  <div>目的：みんなのお気に入りの場所に☆をつける！</div>
  <div>開発：gaziro2000</div>
  <div>概要：ジオクリサービスの機能を改造し、緯度経度／twitter id／☆の名前を入力する専用アプリ</div>
  <h2>システム紹介２．GetStarApplication</h2>
  <div>目的：gaziro2000が自転車で☆を獲得する。</div>
  <div>開発：yuiseki</div>
  <div>概要：ジオクリAPIから現在位置を取得し、星取得判定を行う。星を取得したらTwitterへ発言。</div>
  <h2>システム紹介３．AR ビュワー</h2>
  <div>目的：電脳メガネ的世界をリアルタイムに見せる。</div>
  <div>開発：ksasao</div>
  <div>概要：WINDOWSパソコンと、HMDをくみあわせたARビュワー。表示と同時に緯度経度方角、傾きをサーバーへ送信</div>
  <h2>システム紹介４．WEBビュワー</h2>
  <div>目的：WEB閲覧者にリッチなユーザー体験をさせる。</div>
  <div>開発：akio0911</div>
  <div>概要：現在位置情報、方角をGoogleMAPへプロット。方角、傾きをGoogleStreetViewへ、ARビューも中継。</div>
  <h2>システム紹介５．GetStar読み上げシステム</h2>
  <div>目的：☆取得時のTwitter報告を読み上げアピール！</div>
  <div>開発：未定</div>
  <div>概要：☆を獲得したタイミングで星の位置と名前を読み上げます。</div>
  <h2>Hacker'sCafeについて</h2>
  <div>ハッカーズカフェは、週に1日だけ開店されるハッカーのためのカフェです。皆でノートパソコンを持ち寄り、各自好きなハックを楽しんでいます。 http://www.hackerscafe.jp/ </div>
  <h2>Special Thanks</h2>
  <div>企画・責任者</div>
  <div><a href="http://twitter.com/gaziro2000/">id:gaziro2000</a></div>
  <br/>
  <br/>
  <div>◇開発協力</div>
  <div>
    <div><a href="http://d.hatena.ne.jp/akio0911/">id:akio0911</a></div>
    <div><a href="http://twitter.com/yuiseki/">id:yuiseki</a></div>
    <div><a href="http://twitter.com/ksasao/">id:ksasao</a></div>
    <div>and <a href="http://wiki.livedoor.jp/hackerscafe/d/FrontPage">Hacker’s Cafe member</a></div>
  </div>
  <br/>
  <br/>
  <div>◇後援
    <div><a href="http://www.i-labo.info/top.html">(株)アイラボ</a>（ジオクリAPI／サーバー／サイトデザイン）</div>
    <div><a href="http://doruby.kbmj.com/interesting">DoRuby</a></div>
    <div><a href="http://www.acoustic-inc.co.jp/">(株)アコースティック</a>　（効果音作成）</div>
    <div><a href="http://www.mecharoboshop.com/">メカロボショップ</a></div>
    <div><a href="http://twitter.com/zenpou/">id:zenpou</a></div>
    <div>忍頂寺さま</div>
    <div>野秋さま</div>
    <div><a href="http://d.hatena.ne.jp/wa-ren/">キャズムを越えろ！</a></div>
    <div>and All people who gave star.  </div>
  </div>
  <br/>
  <br/>
  <div>◇使用API提供企業
    <div><a href="http://twitter.com/">Twitter,Inc.</a>　（API提供）</div>
    <div><a href="http://www.placeengine.com/">クウジット(株)</a>（API提供）</div>
  </div>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-58913-4");
  pageTracker._trackPageview();
</script>

</body>
</html>

