<%= @traces.to_xml %>
<%#
<?xml version="1.0" encoding="UTF-8"?>
<response>
  <total_hit_count>13</total_hit_count>
  <hit_per_page>10</hit_per_page>
  <page_offset>1</page_offset>

  <rest order="0">
    <contents_id>2353</contents_id>
    <title>(タイトルなし)</title>
    <subject>秋葉の星</subject>
    <tag>秋葉</tag>
    <member_id>955</member_id>
    <auther_name>akio0911</auther_name>
    <image_url>http://m.geoclip.jp/upload/955/2353.jpg</image_url>
    <latitude>35.698689</latitude>
    <longitude>139.772422</longitude>
    <create_date>2008-08-17 19:49:53</create_date>
    <good_count>0</good_count>
    <access_count>3</access_count>
  </rest>
</response>
%>
